{% extends 'inicio.html' %}

{% block title %}
    Crear Actividad
{% endblock %}

{% block contenido %}
<style>
    .titulo-estilo {
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */
        color: #FFFFFF; /* Texto blanco para contraste */
        padding: 15px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
        text-align: center; /* Centrar texto */
        font-size: 2em; /* Tamaño de fuente más grande */
        margin-bottom: 20px; /* Espaciado inferior */
    }

    .form-container {
        background-color: #E0F7FA; /* Azul pastel suave para fondo de formulario */
        padding: 20px; /* Espaciado interior del formulario */
        border-radius: 8px; /* Bordes redondeados del formulario */
    }

    .btn-container {
        display: flex;
        justify-content: space-between; /* Espacio entre los botones */
        margin-top: 20px; /* Margen superior para separación */
    }
</style>

<h1 class="titulo-estilo">{% if actividad %}Editar Actividad{% else %}Crear Actividad{% endif %}</h1>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="id_nombre" maxlength="200" value="{{ actividad.nombre }}" required>
        </div>

        <div class="mb-3">
            <label for="id_tipo">Tipo:</label>
            <select class="form-select" aria-label="Seleccione una opción" name="tipo" id="id_tipo" required>
                <option value="">Seleccione una opción</option>
                <option value="actividad_grupal" {% if actividad.tipo == 'actividad_grupal' %} selected {% endif %}>Actividad Grupal</option>
                <option value="actividad_individual" {% if actividad.tipo == 'actividad_individual' %} selected {% endif %}>Actividad Individual</option>
                <option value="leccion" {% if actividad.tipo == 'leccion' %} selected {% endif %}>Lección</option>
                <option value="evaluacion_final" {% if actividad.tipo == 'evaluacion_final' %} selected {% endif %}>Evaluación Final</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="id_evaluacion">Evaluación:</label>
            <select class="form-select" aria-label="Seleccione una opción" name="evaluacion" id="id_evaluacion" required>
                <option value="">Seleccione una opción</option>
                {% for evaluacion in evaluaciones %}
                    <option value="{{ evaluacion.id }}" {% if actividad.evaluacion.id == evaluacion.id %} selected {% endif %}>{{ evaluacion.periodo_academico }} - {{ evaluacion.get_nombre_display }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'app_librocalificaciones:actividad_lista' %}">Regresar</a>
        </div>
    </form>
</div>
{% endblock %}

