{% extends 'inicio.html' %}

{% block title %}Crear Evaluación{% endblock %}

{% block contenido %}
<style>
    .titulo-estilo {
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */
        color: #FFFFFF; /* Texto blanco para contraste */
        padding: 15px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
        text-align: center; /* Centrar texto */
        font-size: 2em; /* Tamaño de fuente más grande */
        margin-bottom: 20px; /* Espaciado inferior */
    }

    .form-container {
        background-color: #E0F7FA; /* Azul pastel suave para fondo de formulario */
        padding: 20px; /* Espaciado interior del formulario */
        border-radius: 8px; /* Bordes redondeados del formulario */
    }

    .btn-container {
        display: flex;
        justify-content: space-between; /* Espacio entre los botones */
        margin-top: 20px; /* Margen superior para separación */
    }
</style>

<h1 class="titulo-estilo">{% if evaluacion %}Editar Evaluación{% else %}Crear Evaluación{% endif %} </h1>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre">Nombre <span>*</span></label>
            <input type="text" name="nombre" id="id_nombre" maxlength="200" value="{{ evaluacion.nombre }}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="id_ponderado">Ponderado</label>
            <input type="text" name="ponderado" id="id_ponderado" maxlength="200" value="{{ evaluacion.ponderado|default:'' }}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="id_periodo_academico">Periodo Académico <span>*</span></label>
            <select name="periodo_academico" id="id_periodo_academico" class="form-select" required>
                <option value="">Seleccione</option>
                {% for periodoacademico in periodosacademicos %}
                    <option value="{{ periodoacademico.id }}" {% if periodoacademico.id == evaluacion.periodo_academico.id %} selected {% endif %}>{{ periodoacademico.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="text-center">
            <button class="btn btn-success" type="submit">Guardar</button>
            <a href="{% url 'app_librocalificaciones:evaluacion_lista' %}" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>
{% endblock %}
