{% extends 'inicio.html' %}

{% block title %}Libro de calificaciones{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Libros de calificación
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los libros de calificaciones</p>
                <a href="lista_libro_calificaciones" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Periodos académicos
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los periodos académicoactividades</p>
                <a href="LISTAR_PERIODO" class="btn btn-primary">Administrar</a>
               
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Evaluaciones 
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de Evaluación Sumativa Y Formativa</p>
                <a href="evaluacion_lista" class="btn btn-primary">Administrar</a>
               
                </div>
            </div>
        </div>
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Actividades 
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los pery sumativa y actividades</p>
                <a href="actividad_lista" class="btn btn-primary">Administrar</a>
               
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


