{% extends 'inicio.html' %}

{% block title %}Libro de calificaciones{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Libros de calificación
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los libros de calificaciones</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Periodos académicos
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los periodos académicos, evaluación formativa y sumativa y actividades</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


