{% extends 'inicio.html' %}

{% block title %}
    Crear Libro
{% endblock %}

{% block contenido %}
<style>
    .titulo-estilo {
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */
        color: #FFFFFF; /* Texto blanco para contraste */
        padding: 15px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
        text-align: center; /* Centrar texto */
        font-size: 2em; /* Tamaño de fuente más grande */
        margin-bottom: 20px; /* Espaciado inferior */
    }

    .form-container {
        background-color: #E0F7FA; /* Azul pastel suave para fondo de formulario */
        padding: 20px; /* Espaciado interior del formulario */
        border-radius: 8px; /* Bordes redondeados del formulario */
    }

    .btn-container {
        display: flex;
        justify-content: space-between; /* Espacio entre los botones */
        margin-top: 20px; /* Margen superior para separación */
    }
</style>

<h1 class="titulo-estilo">Crear Libro</h1>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="librocalificacion">Seleccionar Libro de Calificaciones</label>
            <select class="form-control" id="nombre" name="nombre" required>
                <option value="">Seleccione una opción</option>
                <option value="Ponderado">Ponderado</option>
                <option value="Promedio simple">Promedio simple</option>
            </select>
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'app_librocalificaciones:libro_lista' %}" class="btn btn-secondary btn-custom">Regresar</a>
        </div>
    </form>
</div>
{% endblock %}
