{% extends 'inicio.html' %}

{% block title %}periodo academico {% endblock %}

{% block contenido %}


<div class="card shadow mb-4">
    <div class="card-body">
        <div class="card">
            <div class="card-header bg-primary-subtle">
                <p class="text-center"><b>Lista de periodos academicos</b></p>
            </div>
            <p></p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'app_librocalificaciones:CREAR_PERIODO' %}" class="btn btn-primary me-md-2">Crear nuevo Periodo Academico</a>
            </div>
            <div class="card-body">
                {% if not periodo %}
                    <div class="alert alert-info">No hay atributos</div>
                {% else %}
                    <table id="tbl" class="table table-striped table-hover" style="background-color: rgb(222, 235, 249);">
                    
                        <thead style="background-color: #444a9b; color: white;">
                            <tr>
                                <th>Libro de calificacion</th>
                                <th>Nombre</th>
                                <th>orden</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in periodo %}
                              <tr>
                                    <td>{{item.librocalificacion}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.orden}}</td>
                                    <td>
                                        <a href="{% url 'app_librocalificaciones:EDITAR_PERIODO' item.id %}" class="btn btn-success btn-sm">Editar</a>
                                        <a href="{% url 'app_librocalificaciones:ELIMINAR_PERIODO' item.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>  
                                    <td colspan="4">No existe información a mostrar</td> 
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
          
        </div>
    </div>
    <div class="card-header"style="background-color: rgb(222, 235, 249);">
        <a href="{% url 'app_librocalificaciones:inicio' %}" class="d-grid gap-2 col-1 mx-auto"><i class="btn btn-primary btn-sm"> Regresar</i></a>
    </div>
    <p></p>
   
</div>
{% endblock %}
