{% extends 'inicio.html' %}

{% block titulo %}
   Crear/editar periodo
{% endblock %}


{% block contenido %}

    <div class="row">
        <div class="col-12 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    <P class="text-center"><b>Periodos academicos</b></P>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token%}
                        <div class="mb-3">
                            <label for="id_nombre">Nombre:</label>  
                            <input type="text" class="form-control" name="nombre" id="id_nombre" maxlength="200" value="{{periodoacademico.nombre}}" required>
                        </div>
                        <p></p>
                        <label for="id_orden">Orden:</label>  
                        <div>
                            <select class="form-select" name="orden" >
                                <option value="">selecciona </option>
                                <option value="1" {% if periodoacademico.orden == 1 %} selected {% endif %}>1</option>
                                <option value="2" {% if periodoacademico.orden == 2 %} selected {% endif %}>2</option>
                                <option value="3" {% if periodoacademico.orden == 3 %} selected {% endif %}>3</option>
                            </select>
                        </div>
                        <p></p>
                        <label>Librocalificacion: <span>*</span></label>
                        
                        <select class="form-select" name="librocalificacion" >
                            <option value="selecciona" >selecciona </option>
                            {% for libro_calificacion in libro_calificaciones %}
                                <option value="{{libro_calificacion.id}}" {% if periodoacademico.librocalificacion.id == libro_calificacion.id %} selected {% endif %}>{{libro_calificacion.get_nombre_display}}</option>
                            {% endfor %}
                        </select>
                        <p></p>
                        <button type="submit" class="btn btn-primary">GUARDAR</button>
                        <a class="btn btn-danger" href="{% url 'app_librocalificaciones:LISTAR_PERIODO' %}">Cancelar</a>
                    </form>
                </div>
            </div>
           
        </div>
                         
    </div>
      
{% endblock %}