{% extends 'inicio.html' %}  

{% block titulo %}  
   Crear periodo  
{% endblock %}  

{% block contenido %}  
<style>  
    .titulo-estilo {  
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
        color: #FFFFFF; /* Texto blanco para contraste */  
        padding: 15px; /* Espaciado interno */  
        border-radius: 8px; /* Bordes redondeados */  
        text-align: center; /* Centrar texto */  
        font-size: 2em; /* Tamaño de fuente más grande */  
        margin-bottom: 20px; /* Espaciado inferior */  
    }  
    
    .form-container {  
        background-color: #E0F7FA; /* Azul pastel suave para fondo de formulario */  
        padding: 20px; /* Espaciado interior del formulario */  
        border-radius: 8px; /* Bordes redondeados del formulario */  
    }  
    
    .btn-container {  
        display: flex;  
        justify-content: space-between; /* Espacio entre los botones */  
        margin-top: 20px; /* Margen superior para separación */  
    }  
</style>  

<h1 class="titulo-estilo">{% if periodoacademico %}Editar Periodo Académico{% else %}Crear Periodo Académico{% endif %} </h1>  

<div class="form-container">  
    <form method="POST">  
        {% csrf_token %}  
        
        <div class="mb-3">  
            <label for="id_nombre">Nombre:</label>  
            <input type="text" name="nombre" id="id_nombre" maxlength="200" value="{{periodoacademico.nombre}}" placeholder="Ingresa un nombre" class="form-control custom-input" required>  
        </div>  

        <div class="mb-3">  
            <label for="orden">Orden:</label>  
            <select name="orden" class="form-select custom-input" required>  
                <option value="">Selecciona</option>  
                <option value="1" {% if periodoacademico.orden == 1 %} selected {% endif %}>1</option>  
                <option value="2" {% if periodoacademico.orden == 2 %} selected {% endif %}>2</option>  
                <option value="3" {% if periodoacademico.orden == 3 %} selected {% endif %}>3</option>  
            </select>  
        </div>  

        <div class="mb-3">  
            <label>Libro de calificación:</label>  
            <select name="librocalificacion" class="form-select custom-input" required>  
                <option value="selecciona">Selecciona</option>  
                {% for libro_calificacion in libro_calificaciones %}  
                    <option value="{{ libro_calificacion.id }}" {% if periodoacademico.librocalificacion.id == libro_calificacion.id %} selected {% endif %}>{{ libro_calificacion.nombre }}</option>  
                {% endfor %}  
            </select>  
        </div>  

        <div class="text-center">  
            <button type="submit" class="btn btn-success">Guardar</button>  
            <a href="{% url 'app_librocalificaciones:PERIODO_LISTA'%}" class="btn btn-secondary">Regresar</a>  
        </div>  
    </form>  
</div>  
{% endblock %}
