{% extends 'inicio.html' %}  

{% block title %}Asistencias{% endblock %}  

{% block contenido %}  
<style>  
    .titulo-asistencias {  
        background-color: rgb(34, 153, 221); /* Color de fondo para el título de asistencias */  
        color: #FFFFFF; /* Color del texto */  
        font-size: 20px; /* Tamaño de fuente */  
        padding: 10px; /* Espaciado interno del título */  
        border-radius: 5px; /* Bordes redondeados */  
        text-align: left; /* Alinear texto a la izquierda */  
        margin-bottom: 10px; /* Espaciado inferior */  
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */  
    }  
</style>  

{% for anio_lectivo in anio_lectivos %}  
    <div class="row ps-3 pe-3 pt-3" style="width: 100%">  
        <div class="col-12 mb-2">  
            <div class="card border border-primary-subtle">  
                <div class="card-header">  
                    <h5 class="titulo-asistencias">  
                        Asistencias del año lectivo {{anio_lectivo.nombre}} ({{anio_lectivo.fecha_inicio}} al {{anio_lectivo.fecha_fin}})  
                    </h5>  
                </div>  
                <div class="card-body">  
                    <table class="table">  
                        <thead>  
                            <tr>  
                                <th>Docente</th>  
                                <th>Asignatura</th>  
                                <th>Paralelo</th>  
                                <th>Matriculados</th>  
                                <th></th>  
                            </tr>  
                        </thead>  
                        <tbody>  
                            {% for distributivo in anio_lectivo.get_distributivos %}  
                                <tr>  
                                    <td>{{distributivo.docente}}</td>  
                                    <td>{{distributivo.asignatura}}</td>  
                                    <td>{{distributivo.paralelo.nombre}}</td>  
                                    <td>{{distributivo.get_matriculas.count}} estudiante(s)</td>  
                                    <td><a href="">[Registrar]</a></td>  
                                </tr>  
                            {% empty %}  
                                <tr>  
                                    <td colspan="5">No hay datos a mostrar</td>  
                                </tr>  
                            {% endfor %}  
                        </tbody>  
                    </table>  
                </div>  
            </div>  
        </div>  
    </div>  
{% endfor %}  
{% endblock %}
