{% extends 'inicio.html' %}

{% block title %}Matrículas{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Matrículas
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de las matrículas de los estudiantes</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


