{% extends 'app_matriculas/inicio.html' %}  

{% block titulo %} Listar Matrículas {% endblock %}  

{% block contenido %}  
<style>  
  .titulo-estilo {  
      background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
      color: #FFFFFF; /* Texto blanco para contraste */  
      padding: 15px; /* Espaciado interno */  
      border-radius: 8px; /* Bordes redondeados */  
      text-align: center; /* Centrar texto */  
      font-size: 2em; /* Tamaño de fuente más grande */  
      margin-bottom: 20px; /* Espaciado inferior */  
  }  
  
  .table {  
      border-radius: 8px; /* Bordes redondeados para la tabla */  
      overflow: hidden; /* Esconde bordes que sobresalen */  
  }  
  
  .table th {  
      background-color: rgb(22, 87, 117); /* Azul pastel para encabezados */  
      color: #FFFFFF; /* Texto blanco para contraste */  
  }  
  
  .table td, .table th {  
      text-align: center; /* Centrar texto en las celdas */  
  }  
  
  .btn-custom {  
      margin-right: 5px; /* Espaciado entre botones para mejor visualización */  
  }  
  </style>  
  
  <h2 class="titulo-estilo text-center">Administrar matrículas</h2>  
  
  <div class="d-flex justify-content-between mb-3">  
      <div></div> <!-- Espacio vacío para alineación -->  
    <a href="{% url 'app_matriculas:matriculas_crear' %}" class="btn btn-primary">Agregar Matrícula</a>  
</div> 

<div class="table-responsive">

  <table class="table table-bordered table-hover">  
    <thead class="table-dark">  
      <tr>  
        <th>Nombres</th>  
        <th>Apellidos</th>  
        <th>Fecha de Nacimiento</th>  
        <th>Año Lectivo</th>  
        <th>Paralelo</th>  
        <th>Grado</th>  
        <th>Asignaturas</th>  
        <th>Acciones</th>  
      </tr>  
    </thead>  
    <tbody>  
      {% for item in matriculas %}  
        <tr>  
          <td>{{ item.estudiante.nombres }}</td>  
          <td>{{ item.estudiante.apellidos }}</td>  
          <td>{{ item.estudiante.fecha_nacimiento|date:"d/m/Y" }}</td>  
          <td>{{ item.aniolectivo.nombre }}</td>  
          <td>{{ item.paralelo.nombre }}</td>  
          <td>{{ item.paralelo.grado.nombre }}</td>  
          <td>  
            {% for asignatura in item.paralelo.grado.asignaturas.all %}  
              {{ asignatura.nombre }}<br>  
            {% endfor %}  
          </td>  
          <td> 
            <div class="btn-group">  
              <a href="{% url 'app_matriculas:matriculas_editar' item.id %}" class="btn btn-warning btn-sm btn-custom">Editar</a>  
              <a href="{% url 'app_matriculas:matriculas_eliminar' item.id %}" class="btn btn-danger btn-sm btn-custom" onclick="return confirm('¿Estás seguro de eliminar esta matrícula?')">Eliminar</a>  
            </div>
          </td>  
        </tr>  
      {% empty %}  
        <tr>  
          <td colspan="8">No existe información a mostrar</td>   
        </tr>   
      {% endfor %}  
    </tbody>  
  </table>  
</div>

<div class= "text-center mb-3"> 
    <a href="{% url 'app_matriculas:matriculas' %}" class="d-grid gap-2 col-1 mx-auto" style="text-decoration: none;">  
        <button class="btn btn-secondary">Regresar</button>  
    </a>  
</div>  

{% endblock %}