{% extends 'inicio.html' %}  

<title>{% if item %}Editar Asignatura{% else %}Crear Asignatura{% endif %}</title>  

{% block contenido %}  
<style>  
    .titulo-estilo {  
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
        color: #FFFFFF; /* Texto blanco para contraste */  
        padding: 15px; /* Espaciado interno */  
        border-radius: 8px; /* Bordes redondeados */  
        text-align: center; /* Centrar texto */  
        font-size: 2em; /* Tamaño de fuente más grande */  
        margin-bottom: 20px; /* Espaciado inferior */  
    }  
    
    .form-container {  
        background-color: #E0F7FA; /* Azul pastel suave para fondo de formulario */  
        padding: 20px; /* Espaciado interior del formulario */  
        border-radius: 8px; /* Bordes redondeados del formulario */  
      
    }  
    
    .btn-container {  
        display: flex;  
        justify-content: space-between; /* Espacio entre los botones */  
        margin-top: 20px; /* Margen superior para separación */  
    }  
</style>  
<h1 class="titulo-estilo text-center">{% if item %}Editar Asignatura{% else %}Crear Asignatura{% endif %}</h1>  
    <div class="d-flex justify-content-between mb-3">  
        <div></div> <!-- Espacio vacío para alineación -->  
       
   
    </div> 


<div class="form-container">  
    <form method="POST">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <div class="card-body">  
            <form method="post" class="needs-validation" novalidate>  
                {% csrf_token %}  
                <div class="form-group mb-3">  
                    <label for="nombre" class="form-label">Nombre de la Asignatura:</label>  
                    <input type="text" name="nombre" id="nombre" class="form-control" value="{{ item.nombre }}" required>  
                    <div class="invalid-feedback">  
                        Por favor, ingrese el nombre de la asignatura.  
                    </div>  
                </div>  
                <div class="form-group mb-3">  
                    <label for="grado" class="form-label">Grados:</label>  
                    <select class="form-select" name="grado" id="grado" required>  
                        <option value="">Selecciona un grado</option>  
                        {% for grado in grados %}  
                            <option value="{{ grado.id }}" {% if item and item.grado.id == grado.id %} selected{% endif %}>{{ grado.nombre }}</option>  
                        {% endfor %}  
                    </select>  
                    {% if error %}  
                        <div class="text-danger">{{ error }}</div>  
                    {% endif %}  
                </div>  
                <div class="d-flex justify-content-center mt-4">  
                    <button type="submit" class="btn btn-success me-2">Guardar</button>
                    <a href="{% url 'app_grados:asignaturas_listar' %}" class="btn btn-secondary me-2">Regresar</a>  
                      
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
{% endblock %}