{% extends 'inicio.html' %}  

{% block title %} Lista de Asignaturas{% endblock %}  

{% block contenido %}  
<style>  
    .titulo-estilo {  
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
        color: #FFFFFF; /* Texto blanco para contraste */  
        padding: 15px; /* Espaciado interno */  
        border-radius: 8px; /* Bordes redondeados */  
        text-align: center; /* Centrar texto */  
        font-size: 2em; /* Tamaño de fuente más grande */  
        margin-bottom: 20px; /* Espaciado inferior */  
    }  
    
    .table {  
        border-radius: 8px; /* Bordes redondeados para la tabla */  
        overflow: hidden; /* Esconde bordes que sobresalen */  
    }  
    
    .table th {  
        background-color: rgb(22, 87, 117); /* Azul pastel para encabezados */  
        color: #FFFFFF; /* Texto blanco para contraste */  
    }  
    
    .table td, .table th {  
        text-align: center; /* Centrar texto en las celdas */  
    }  
    
    .btn-custom {  
        margin-right: 5px; /* Espaciado entre botones para mejor visualización */  
    }  
    </style>  
    
    <h1 class="titulo-estilo text-center">Administrar Asignatura</h1>  
    
    <div class="d-flex justify-content-between mb-3">  
        <div></div> <!-- Espacio vacío para alineación --> 
        <a href="{% url 'app_grados:asignaturas_crear' %}" class="btn btn-primary">Agregar Asignatura</a>  
    </div>  

    <div class="table-responsive">
        <table class="table table-bordered table-hover">  
            <thead>  
                <tr>  
                    <th scope="col">Nombre</th>  
                    <th scope="col">Grado</th>  
                    <th scope="col">Acciones</th>  
                </tr>  
            </thead>  
            <tbody>  
                {% for asignatura in asignaturas %}  
                    <tr>  
                        <td>{{ asignatura.nombre }}</td>  
                        <td>{{ asignatura.grado.nombre }}</td>  
                        <td>
                            <div class="btn-group"> 
                                <a href="{% url 'app_grados:asignaturas_editar' asignatura.id %}" class="btn btn-warning btn-sm btn-custom">Editar</a>  
                                <a href="{% url 'app_grados:asignaturas_eliminar' asignatura.id %}" class="btn btn-danger btn-sm btn-custom">Eliminar</a>  
                            </div> 
                        </td>  
                    </tr>  
                {% empty %}  
                    <tr>  
                        <td colspan="3" class="text-start">No existe información a mostrar</td>  
                    </tr>  
                {% endfor %}   
            </tbody>  
        </table>
    </div>
            
    <div class="text-center mb-3">
        <a href="{% url 'app_grados:grados' %}" class="btn btn-secondary btn-custom">Regresar</a>     
    </div>   
{% endblock %}