{% extends 'inicio.html' %}  

{% block titulo %}  
    <title>{% if item %}Editar Grado{% else %}Crear Grado{% endif %}</title>  
{% endblock %}  

{% block contenido %}  
<style>  
    .titulo-estilo {  
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
        color: #FFFFFF; /* Texto blanco para contraste */  
        padding: 15px; /* Espaciado interno */  
        border-radius: 8px; /* Bordes redondeados */  
        text-align: center; /* Centrar texto */  
        font-size: 2em; /* Tamaño de fuente más grande */  
        margin-bottom: 20px; /* Espaciado inferior */  
    }  
    
    .form-container {  
        background-color: #E0F7FA; /* Azul pastel suave para fondo de formulario */  
        padding: 20px; /* Espaciado interior del formulario */  
        border-radius: 8px; /* Bordes redondeados del formulario */  
      
    }  
    
    .btn-container {  
        display: flex;  
        justify-content: space-between; /* Espacio entre los botones */  
        margin-top: 20px; /* Margen superior para separación */  
    }  
</style>  
<h1 class="titulo-estilo text-center">{% if item %}Editar Grado{% else %}Crear Grado{% endif %}</h1>  
    <div class="d-flex justify-content-between mb-3">  
        <div></div> <!-- Espacio vacío para alineación -->  
       
   
    </div> 


<div class="form-container">  
    <form method="POST">  
        {% csrf_token %}  
        {{ form.as_p }}  
        
        <div class="card-body">  
            <form method="post" class="needs-validation" novalidate>  
                {% csrf_token %}  
                <div class="form-group mb-3">  
                    <label for="nombre">Nombre del Grado:</label>  
                    <input type="text" name="nombre" id="nombre" maxlength="200" class="form-control" value="{{ item.nombre }}" required>  
                    <div class="invalid-feedback">  
                        Por favor, ingrese el nombre del grado.  
                    </div>  
                </div>  
                

                <div class="form-group mb-3">  
                    <label for="institucion">Seleccionar Institución:</label>  
                    <select class="form-select" id="institucion" name="institucion" required>  
                        <option value="">Seleccione una opción</option>  
                        {% for institucion in instituciones %}  
                            <option value="{{ institucion.id }}" {% if item and item.institucion.id == institucion.id %}selected{% endif %}>{{ institucion.nombre }}</option>  
                        {% endfor %}  
                    </select>  
                    <div class="invalid-feedback">  
                        Por favor, seleccione una institución.  
                    </div>  
                </div>  

                <div class="form-group mb-3">  
                    <label for="nivel">Seleccionar Nivel:</label>  
                    <select class="form-select" id="nivel" name="nivel" required>  
                        <option value="">Seleccione una opción</option>  
                        {% for nivel in niveles %}  
                            <option value="{{ nivel.id }}" {% if item and item.nivel.id == nivel.id %}selected{% endif %}>{{ nivel.get_nombre_display }}</option>  
                        {% endfor %}  
                    </select>  
                    <div class="invalid-feedback">  
                        Por favor, seleccione un nivel.  
                    </div>  
                </div>  

                <div class="form-group mb-3">  
                    <label for="subnivel">Seleccionar Subnivel:</label>  
                    <select class="form-select" id="subnivel" name="subnivel">  
                        <option value="">Seleccione una opción</option>  
                        {% for subnivel in subniveles %}  
                            <option value="{{ subnivel.id }}" {% if item and item.subnivel.id == subnivel.id %}selected{% endif %}>{{ subnivel.get_nombre_display }}</option>  
                        {% endfor %}  
                    </select>  
                </div>  

                <div class="form-group mb-3">  
                    <label for="librocalificacion">Seleccionar Libro de Calificaciones:</label>  
                    <select class="form-select" id="librocalificacion" name="librocalificacion">  
                        <option value="">Seleccione una opción</option>  
                        {% for libro in librocalificaciones %}  
                            <option value="{{ libro.id }}" {% if item and item.libro_calificacion.id == libro.id %}selected{% endif %}>{{ libro.get_nombre_display }}</option>  
                        {% endfor %}  
                    </select>  
                </div>  

                <div class="d-flex justify-content-center mt-4">  
                    <button type="submit" class="btn btn-success me-2">Guardar</button>  
                    <a href="{% url 'app_grados:grados_listar' %}" class="btn btn-secondary me-2">Regresar</a>  
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
{% endblock %}
