{% extends 'inicio.html' %}  

{% block title %}Ver libro{% endblock %}  
  

{% block contenido %}  
<div class="card border border-primary-subtle">  
    <div class="card-header text-center text-white" style="background-color:  rgb(22, 87, 117); color: #FFFFFF">  
        <h5 class="titulo-datos-informativos float-start">Datos Informativos</h5>  
        <a href="{% url 'app_calificaciones:verevaluaciones' distributivo.id periodoacademico.id %}" class="btn btn-warning float-end bi bi-reply-all-fill">Regresar</a>  
        <h5>{{ periodoacademico.nombre }}</h5>  
    </div>  

    <div class="card-body p-2">  
        <b>Docente:</b> {{ distributivo.docente.nombres }} {{ distributivo.docente.apellidos }}  
        <br><b>Asignatura:</b> {{ distributivo.asignatura.nombre }}  
        <br><b>Grado:</b> {{ distributivo.asignatura.grado.nombre }}  
        <br><b>Paralelo:</b> {{ distributivo.paralelo.nombre }}  
        <br><b>Total estudiantes:</b> {{ matriculas|length }}  
    </div>  
</div>  

<br>  

<form method="post" action="{% url 'app_calificaciones:guardarnotas' distributivo.id actividad.id %}">  
    {% csrf_token %}  
    <div class="table-responsive"> 
        <table class="table border border-info border-4 table-hover">  
            <thead>  
                <tr class="text-center">  
                    <td rowspan="2" class="text-center">  
                        <b>Estudiantes</b>  
                    </td>  
                    
                    <td class="text-center">  
                        <b>{{ actividad.nombre }}</b>       
                    </td>  
                </tr>  
            </thead>  

            <tbody>  
                {% load filtros %}  
                {% load l10n %}  
                {% for matricula in matriculas %}  
                    <tr>  
                        <td>{{ matricula.estudiante.nombres }} {{ matricula.estudiante.apellidos }}</td>  
                        <td class="text-center"> 
                            {% recuperar_nota_actividad_filtro matricula distributivo actividad as nota_actividad %}
                            <input type="number" name="{{ matricula.id }}" step="0.01" min="0" max="10" value="{{ nota_actividad|unlocalize }}" required>   
                        </td>  
                    </tr>  
                {% endfor %}  
            </tbody>  
        </table>  
    </div>

    <div class="d-flex justify-content-center">  
        <button class="btn btn-primary" type="submit">Guardar</button>  
    </div>  
</form>  
{% endblock %}

