{% extends 'inicio.html' %}

{% block title %}Ver libro {% endblock %}
{% load filtros %}
{% load l10n %}

{% block contenido %}

<div class="card border border-primary-subtle">
    <div class="card-header text-center bg-primary text-white">

        <h5 class="float-start">Datos Informativos</h5>
        <a href="{%url 'app_calificaciones:verlibro' distributivo.id %}"class="btn btn-warning float-end bi bi-reply-all-fill" >Regresar </a>
        <h5>{{periodoacademico.nombre}}</h5>
            
    </div>

    <div class="card-body p-2">
        <b>Docente:</b> {{distributivo.docente.nombres}} {{distributivo.docente.apellidos}}  
        <br><b>Asignatura:</b> {{distributivo.asignatura.nombre}}
        <br><b>Grado:</b> {{distributivo.asignatura.grado.nombre}}
        <br><b>Paralelo:</b> {{distributivo.paralelo.nombre}}
        <br><b>Total estudiantes:</b> {{ matriculas|length }}
    </div>
</div>

<br>
<table class="table border border-info border-4 table table-sm">
    <thead>
        <tr  class="text-center">

            <td rowspan="2"><b>Estudiantes</b></td>
            
            {% for evaluacion in periodoacademico.evaluaciones.all %}
            
                <td colspan="{{evaluacion.actividades.all|length}}">
                    <b>Promedio {{evaluacion.get_nombre_display}}</b>
                    
                </td>

                <td rowspan="2" class="text-success">
                    <b>Promedio</b>
                </td>
            
            {% endfor %}
            <td rowspan="2" class="text-success"><b>Promedio Final </b>
                <br><a class="btn btn-success btn-sm px-2 py-1 bi bi-save2-fill" href="{% url 'app_calificaciones:calcularpromedios_periodo_evaluaciones' distributivo.id periodoacademico.id %}">Calcular notas</a></td>

        </tr>

        <tr>
            
            {% for evaluacion in periodoacademico.evaluaciones.all %}
                
                {% for actividad in evaluacion.actividades.all %}

                    <td class="text-center">
                        
                        {{actividad.nombre}}
                        <br><a class="btn btn-primary  btn-sm px-1 py-1 bi bi-pencil-fill" href="{%url 'app_calificaciones:ingresarnotas' distributivo.id actividad.id %}">Ingresar notas</a>
                        
                    </td>

                {% endfor %}
            
            {% endfor %}
            
        </tr>

    
    </thead>

    <tbody>
        {% for matricula in matriculas %}
            <tr>
                <td>{{matricula.estudiante.nombres}} {{matricula.estudiante.apellidos}}</td>
                
                {% for evaluacion in periodoacademico.evaluaciones.all %}
                
                    {% for actividad in evaluacion.actividades.all %}

                        <td class="text-center">
                            {{matricula|recuperar_nota_actividad_filtro:actividad|unlocalize|default:'SN'}} 
                            
                        </td>
                        
                    {% endfor %}

                    
                    <td class="text-center">
                        <b>{{matricula|recuperar_nota_evaluacion_filtro:evaluacion|unlocalize|default:'SN'}}</b>
                    </td>
                    
            
                {% endfor %}

                    <td class="text-center">
                        {{matricula|recuperar_nota_periodo_filtro:periodoacademico|unlocalize|default:'SN'}}
                    </td>
            </tr>
        {% endfor %}

    </tbody>
    
</table>
    
{% endblock %}


