{% extends 'inicio.html' %}  

{% block title %}Administrar Estudiantes{% endblock %}  

{% block contenido %}  
<style>  
.titulo-estilo {  
    background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
    color: #FFFFFF; /* Texto blanco para contraste */  
    padding: 15px; /* Espaciado interno */  
    border-radius: 8px; /* Bordes redondeados */  
    text-align: center; /* Centrar texto */  
    font-size: 2em; /* Tamaño de fuente más grande */  
    margin-bottom: 20px; /* Espaciado inferior */  
}  

.table {  
    border-radius: 8px; /* Bordes redondeados para la tabla */  
    overflow: hidden; /* Esconde bordes que sobresalen */  
}  

.table th {  
    background-color: rgb(22, 87, 117); /* Azul pastel para encabezados */  
    color: #FFFFFF; /* Texto blanco para contraste */  
}  

.table td, .table th {  
    text-align: center; /* Centrar texto en las celdas */  
}  

.btn-custom {  
    margin-right: 5px; /* Espaciado entre botones para mejor visualización */  
}  

.text-right {  
    text-align: right; /* Alineación a la derecha */  
}  
</style>  

<h2 class="titulo-estilo text-center">Administrar Estudiantes</h2>  

<div class="text-right mb-3">  
    <a href="{% url 'app_usuarios:create_estudiante' %}" class="btn btn-primary btn-custom">Agregar Estudiante</a>   
</div>  

<div class="table-responsive">
    <table class="table table-bordered table-hover">  
        <thead>  
            <tr>  
                <th>ID</th>  
                <th>Nombres</th>  
                <th>Apellidos</th>  
                <th>Identificación</th>  
                <th>Fecha de Nacimiento</th>  
                <th>Correo Institucional</th>  
                <th>Acciones</th>  
            </tr>  
        </thead>  
        <tbody>  
            {% for estudiante in estudiantes %}  
            <tr>  
                <td>{{ estudiante.id }}</td>  
                <td>{{ estudiante.nombres }}</td>  
                <td>{{ estudiante.apellidos }}</td>  
                <td>{{ estudiante.identificacion }} </td>  
                <td>{{ estudiante.fecha_nacimiento }} </td>  
                <td>{{ estudiante.correo_institucional }} </td>  
                <td>  
                    <div class="btn-group">
                        <a href="{% url 'app_usuarios:update_estudiante' estudiante.id %}" class="btn btn-warning btn-sm btn-custom">Editar</a>  
                        <a href="{% url 'app_usuarios:delete_estudiante' estudiante.id %}" class="btn btn-danger btn-sm btn-custom">Eliminar</a>  
                    </div>
                </td>  
            </tr>  
            {% empty %}  
                <tr>  
                    <td colspan="7" class="text-center">No existe información a mostrar</td>   
                </tr>   
            {% endfor %}  
        </tbody>  
    </table>
</div>  

<div class="text-center mb-3">  
    <a href="{% url 'app_usuarios:usuarios' %}" class="btn btn-secondary btn-custom">Regresar</a>  
</div>  
{% endblock %}