{% extends 'inicio.html' %}  

{% block title %}  
Usuarios  
{% endblock %}  

{% block contenido %}  
<style>  
.titulo-estilo {  
    background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
    color: #FFFFFF; /* Texto blanco para contraste */  
    padding: 15px; /* Espaciado interno */  
    border-radius: 8px; /* Bordes redondeados */  
    text-align: center; /* Centrar texto */  
    font-size: 2em; /* Tamaño de fuente más grande */  
    margin-bottom: 20px; /* Espaciado inferior */  
}  

.card {  
    border-radius: 8px; /* Bordes redondeados para las tarjetas */  
    box-shadow: 0 4px 8px rgba(245, 241, 241, 0.1); /* Sombra para las tarjetas */  
}  

.card-header {  
    background-color: rgb(22, 87, 117); /* Color del encabezado */  
    color: #FFFFFF; /* Texto blanco para contraste */  
}  
</style>  


    <div class="row">  
        <div class="col-md-6 col-sm-12 mb-2">  
            <div class="card border border-primary-subtle">  
                <div class="card-header">  
                    <b>Docentes</b>  
                </div>  
                <div class="card-body">  
                    <p class="card-text">Gestión de los docentes de la institución</p>  
                    <a href="{% url 'app_usuarios:admin_docentes' %}" class="btn btn-primary">Administrar</a>  
                </div>  
            </div>  
        </div>  

        <div class="col-md-6 col-sm-12 mb-2">  
            <div class="card border border-primary-subtle">  
                <div class="card-header">  
                    <b>Estudiantes</b> 
                </div>  
                <div class="card-body">  
                    <p class="card-text">Gestión de los estudiantes de la institución</p>  
                    <a href="{% url 'app_usuarios:admin_estudiantes' %}" class="btn btn-primary">Administrar</a>  
                </div>  
            </div>  
        </div>  

        <div class="col-md-6 col-sm-12 mb-2">  
            <div class="card border border-primary-subtle">  
                <div class="card-header">  
                    <b>Representantes</b>  
                </div>  
                <div class="card-body">  
                    <p class="card-text">Gestión de los padres de familia de la institución</p>  
                    <a href="{% url 'app_usuarios:admin_representantes' %}" class="btn btn-primary">Administrar</a>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>  
{% endblock %}

