{% extends 'inicio.html' %}

{% block title %}Usuarios{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Docentes
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los docentes de la institución</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Estudiantes
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los estudiantes de la institución</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Representantes
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los padres de familia de la institución</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


