{% extends 'inicio.html' %}  

{% block title %}Administrar Paralelo{% endblock %}  

{% block contenido %}  
<style>  
    .titulo-estilo {  
        background-color: rgb(22, 87, 117); /* Azul pastel para el título */  
        color: #FFFFFF; /* Texto blanco para contraste */  
        padding: 15px; /* Espaciado interno */  
        border-radius: 8px; /* Bordes redondeados */  
        text-align: center; /* Centrar texto */  
        font-size: 2em; /* Tamaño de fuente más grande */  
        margin-bottom: 20px; /* Espaciado inferior */  
    }  
    
    .table {  
        border-radius: 8px; /* Bordes redondeados para la tabla */  
        overflow: hidden; /* Esconde bordes que sobresalen */  
    }  
    
    .table th {  
        background-color: rgb(22, 87, 117); /* Azul pastel para encabezados */  
        color: #FFFFFF; /* Texto blanco para contraste */  
    }  
    
    .table td, .table th {  
        text-align: center; /* Centrar texto en las celdas */  
    }  
    
    .btn-custom {  
        margin-right: 5px; /* Espaciado entre botones para mejor visualización */  
    }  
    </style>  
    
    <h2 class="titulo-estilo text-center">Administrar Paralelos</h2>  
    
    <div class="d-flex justify-content-between mb-3">  
        <div></div> <!-- Espacio vacío para alineación -->   
    <a href="{% url 'app_ofertaacademica:create_paralelo' %}" class="btn btn-primary">Agregar Paralelo</a>  
</div>  

<div class="table-responsive">
    <table class="table table-bordered table-hover">  
        <thead>  
            <tr>  
                <th>Nombre</th>  
                <th>Grado</th>  
                <th>Año Lectivo</th>  
                <th>Acciones</th>  
            </tr>  
        </thead>  
        <tbody>  
            {% for paralelo in paralelo %}  
            <tr>  
                <td>{{ paralelo.nombre }}</td>  
                <td>{{ paralelo.grado }}</td>  
                <td>{{ paralelo.aniolectivo }}</td>  
                <td>
                    <div class="btn-group">   
                        <a href="{% url 'app_ofertaacademica:update_paralelo' paralelo.id %}" class="btn btn-warning btn-sm btn-custom">Editar</a>  
                        <a href="{% url 'app_ofertaacademica:delete_paralelo' paralelo.id %}" class="btn btn-danger btn-sm  btn-custom">Eliminar</a>  
                    </div>
                </td>  
            </tr>  
            {% empty %}  
            <tr>  
                <td colspan="4" class="text-center">No existe información a mostrar</td>  
            </tr>  
            {% endfor %}  
        </tbody>  
    </table> 
</div> 

<div class="text-center mb-3">  
    <a href="{% url 'app_ofertaacademica:oferta_academica' %}" class="btn btn-secondary">Regresar</a>  
</div>  

{% endblock %}