<!-- templates/app_ofertaacademica/admin_paralelo.html -->
{% extends 'inicio.html' %}

{% block title %}Administrar Paralelo{% endblock %}

{% block contenido %}
<h2>Administrar Paralelo</h2>
<a href="{% url 'app_ofertaacademica:create_paralelo' %}" class="btn btn-Info">Agregar Paralelo</a>  
<a href="{% url 'app_ofertaacademica:oferta_academica' %}" class="btn btn-secondary">Volver</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre </th>
            <th>Grado</th>
            <th>Año Lectivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for paralelo in paralelo %}
        <tr>
            <td>{{ paralelo.nombre }}</td>
            <td>{{ paralelo.grado }}</td>
            <td>{{ paralelo.aniolectivo }}</td>
            <td>
                <a href="{% url 'app_ofertaacademica:update_paralelo' paralelo.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'app_ofertaacademica:delete_paralelo' paralelo.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
            <tr>  
                <td colspan="4">No existe información a mostrar</td> 
            </tr> 
        {% endfor %}
    </tbody>
</table>
{% endblock %}