{% extends 'inicio.html' %}

{% block title %}Oferta académica{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Años lectivos
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los años lectivos de la institución</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Paralelos
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los paralelos por año lectivo</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    Distributivos
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los distributivos por año lectivo</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


