{% extends 'inicio.html' %}

{% block title %}Oferta académica{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle" >
                    <b class="text-aling" >Años Lectivos</b>
                </div>
                <div class="card-body" >
                <p class="card-text">Gestión de los Años Lectivos de la Institución</p>
                <a href="{% url 'app_ofertaacademica:admin_aniolectivo' %}" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    <b class="card-text">Paralelos</b>
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los Paralelos por Año Lectivo</p>
                <a href="{% url 'app_ofertaacademica:admin_paralelo' %}" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-2">
            <div class="card border border-primary-subtle">
                <div class="card-header bg-primary-subtle">
                    <b class="card-text">Distributivos</b>
                </div>
                <div class="card-body">
                <p class="card-text">Gestión de los Distributivos por Año Lectivo</p>
                <a href="{% url 'app_ofertaacademica:admin_distributivo'%}" class="btn btn-primary">Administrar</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
